#form_new_join {
    position: relative;
    width: calc( 100% - 40px );
    top: 5px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0,0,0,0.5);
}
p {
    margin: 5px;
    color: white;
}
#name_join {
    color: white;

    width: calc( 100% - 6px );
    padding: 3px;
    
    border: none;
    border-radius: 5px;

    
    background-color: rgba(0,0,0,0.5);
    
    outline: none;
}
#txt_join {
    color: white;

    width: calc( 100% - 20px );
    max-width: calc( 100% - 20px );
    height: 200px;
    
    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    background-color: rgba(0,0,0,0.5);

    font-size: 25px;
    outline: none;
}
#btn_new_join {
    position: absolute;
    padding: 15px 55px 15px 55px;
    bottom: 20px;
    right: 25px;
}
#list_roles {
    width: 250px;
    padding: 7px;
    overflow: hidden;
    background-color: rgba(0,0,0,.5);
}
.role {
    position: relative;
    background-color: transparent;
    padding: 2px;
}
.name_role {
    font-family: CaviarDreams;
    font-weight: 900;
    font-size: 17px;
    width: calc( 100% - 32px );
    
}
.delete_role {
    position: absolute;
    right: 2px;
    top: 5px;
    width: 20px;
    height: 20px;
    margin: 0px;
}
#add_role {
    margin-bottom: 3px;
    margin-left: 65px;
    box-shadow: 0 0 5px ;
}