body
{
 min-width:1280px;
 min-height: 600px;
 
 margin: 0px;
 padding: 0px;
 background: url( "http://wallpapercave.com/wp/GProxpt.jpg" ) 100% 100% no-repeat;
 background-position: center top;
 background-size: cover;
 background-attachment: fixed;
}


#layout {
    background-color: transparent;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 80%;
 z-index: 0;
}


.top_message {
 opacity: 0;
 position: absolute;
 left: 50%;
 top: -150px;
 
 font-size: 0px;
 width: 100px;

 border: 1px solid rgba(255, 128, 0, 0.5);
 background-color: rgba(255, 128, 0, 0.7);
 box-shadow: 0 0 35px #FF8000;

 z-index: 999;
}
#text {
 text-align: center;
 margin: 10px 25px 10px 25px;
 font-family: Expand;
 text-shadow: 0 0 5px white;
 color: white;
}


#boxesLeft_hide, #boxesRight_hide, #boxesLeft_show, #boxesRight_show
{
    display: none;
    position: absolute;
    left: 0px;
    line-height: 165px;
    
}
#boxesLeft_show, #boxesRight_show { z-index: 1; }
#boxesLeft_hide, #boxesRight_hide { z-index: 3; }
#boxesLeft_hide img, #boxesRight_hide img, #boxesLeft_show img, #boxesRight_show img
{
    height: 100px;
    width: 17px;
    vertical-align: middle;
}

#left_boxes,#right_boxes 
{
 position: absolute;
 z-index: 2;
 padding: 0px;
 width: 230px;
 padding: 5px;
 background-color: white;
 box-shadow: 0px 0px 10px rgba( 255, 255, 255, 0.9 );
}
#left_boxes { top: 20px; left: 20px; }
#right_boxes {  top: 200px; left: 20px; }

#left_boxes:hover ,#right_boxes:hover {  }
#left_boxes>a:link,#right_boxes>a:link
{
 font-size: 17px;
 padding: 7px;
 display: block;
 color: rgb( 150, 150, 150 );
 text-decoration: none;
 margin-top: 1px;
 margin-bottom: 1px;
 padding-left: 25px;
 border-radius: 5px;
 text-shadow: 0 0 0.1px black;
 border-top: 3px solid transparent;
 border-bottom: 3px solid transparent;
 transition: 0.15s;
}
#left_boxes>a:visited, #right_boxes>a:visited { color: rgb( 150, 150, 150 ); }
#left_boxes>a:hover,#right_boxes>a:hover
{
 text-shadow: 0 0 15px white;
 transition: 0.15s;
}
#left_boxes>a:hover,#right_boxes>a:hover
{
 padding-left: 30px;
 border-top: 3px solid black;
 border-bottom: 3px solid black;
 color: rgb( 50, 50, 50 );
 text-shadow: 0 0 1px black;
 transition: 0.25s;
}
#left_boxes>p,#right_boxes>p
{
 margin: 11px;
 margin-bottom: 0px;
 color: black;
 font-weight: bold;
}



#blocks
{
 position: absolute;
 margin: auto;
 float: none;
 opacity: 1;
 padding-left: 10px;
 padding-right: 10px;
 background-color: transparent;
}
.block
{
 overflow: hidden;
 margin: auto;
 text-shadow: 0 0 1px #A9F5F2;
 margin-top: 10px;
 width: 95%;
 border: 1px solid transparent;
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.4);
 /*color: #1C1C1C;*/
 color: white;
 font-size: 18px;
 font-family: Arial;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
 transition: 0.75s;
}
.block:hover
{
 background-color: rgba(0, 0, 0, 0.55);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
 width: 100%;
 transition: 0.2s;
}

.name,
.rating
{
    position: relative;
    top: 10px;
}
.name
{
    left: 15px;
    float: left;
    font-weight: bold;
}
.rating
{
    float: right;
    right: 5px;
}
.number_of_people
{
 font-weight: bold;
 margin: -5px 15px 0px 0px;
 color: black;
}
.description
{
    float: left;
    margin: 20px;
}

.btn_join
{
 position: relative;
 right: 10px;
 bottom: 10px;
 width: 125px;
 height: 35px;
 float: right;
 margin: 5px;
 color: white;
 font-weight: bold;
 background-color: rgba(0, 0, 0, 0.4);
 
 border: none;
 border-radius: 10px 0 10px 0;
 box-shadow: 0 0 10px white;
 
 outline: none;

 transition: 0.9s;
}
.block:hover>.btn_join:hover
{
 box-shadow: 0 0 15px white;
 background-color: white;
 color: black;
 text-shadow: 0 0 0px black;
 transition: 0.1s;
}



@font-face {
 font-family: Expand;
 src: url("Fonts/Expand.ttf");
}
@font-face {
 font-family: Peer;
 src: url( "Fonts/Peer.ttf" );
}
@font-face {
 font-family: Pacifico;
 src: url( "Fonts/Pacifico.ttf" );
}
@font-face {
 font-family: Basic;
 src: url( "Fonts/Basic.ttf" );
}
@font-face {
 font-family: Caviar_Dreams_Bold;
 src: url("Fonts/Caviar_Dreams_Bold.ttf");
}
@font-face {
 font-family: CaviarDreams;
 src: url("Fonts/CaviarDreams.ttf");
}

::-webkit-scrollbar{
    
}