body
{
 /*min-width:1280px;*/
 
 margin: 0px;
 padding: 0px;
 background: url( "images/background2.jpg" ) 100% 100% no-repeat;
 /*background: url("images/background.jpg") 100% 100% no-repeat;*/
 background-size: cover;
 background-attachment: fixed;

}



/*
#top-image
{
	z-index: 0;
	width: 100%;
	height: calc(100% + 100px);
	background-position: 0px 0px;
}
*/

#header
{
 /*min-width:1200px;*/
 position: fixed;
 left: 0px;
 top: 10px;
 width: 100%;
 box-shadow: 0 0 50px #BDBDBD;
 transition: 0.5s;
 
 z-index: 5;
}
#header_text
{
 color: white;
 width: 300px;
 margin: 0px 0px 0px 30px;
 font-family: Expand;
 font-size: 25px;
 text-shadow: 0 0 25px #81F7F3;
 text-decoration: none;
 transition: 1.25s;
}
#header_text:hover
{
 text-shadow: 0 0 15px #FF8000;
 transition: 0.75s;
}
#header button {
    color: rgba(242, 242, 242, 1);
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px;

    color: black;
    border: none;
    text-shadow: 0 0 1px #2E2E2E;
    background-color: transparent;
}
#header button:hover {
    color: white;
    text-shadow: 0 0 1px white;
    background-color: #FFBF00;
    box-shadow: 0 5px 10px #BDBDBD;
}
#header button:nth-child(1) { margin-left: 35px; }


.layout {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 z-index: 0;
 
}

#page1 { background-color: transparent; }
#page2 { background-color: rgba(100, 100, 100, 0.5); }
#page3 { background-color: rgba(200, 200, 200, 0.5); }
#page4 { background-color: rgba(300, 300, 300, 0.5); }




#left_text_div {
    position: absolute;
    left: 5%;
    top: 10%;
}
#left_text_div p {
    text-shadow: 1px -1px 5px white;
    margin: 0px;
    font-size: 33px;
    font-family: Pacifico;
}

#join_center_div {
    position: absolute;
    left: 50%;
    top: 35%;
    width: 380px;
    height: 100px;
    margin-left: -150px;

    border-radius: 50px 0;
    background-color: transparent;

    border: 2px solid black;
}
#join_center_div:hover {
    cursor: pointer;
    border-color: transparent;
    background-color: rgba(255, 128, 0, 0.7);
    box-shadow: 0 0 10px #FF8000;
}
#join_center_div:hover>p {
    color: white;
    text-shadow: 0 0 5px white;
}
#join_center_div p {
    font-weight: bold;
    text-shadow: 0 0 5px black;
    margin: 25px;
    color: black;
    font-size: 50px;
    font-family: Expand;
}

#right_man_div {
    position: absolute;
    right: 10px;
    bottom: 0px;

    width: 650px;
    height: 400px;

    background: url( "images/man_right.png" ) 100% 100% no-repeat;
}
#think{
    display: none;
    position: absolute;
    right: 125px;
    bottom: 360px;

    width: 300px;
    height: 250px;

    background: url( "images/man_right_think2.png" ) 100% 100% no-repeat;
}




.logout_or_registration {
 color: white;
 font-size: 35px;
 font-family: Peer;
 position: absolute;
 right: 15px;
 top: 30px;
 padding: 5px 10px 5px 10px;
 border: 1px solid black;
 background-color: transparent;
 box-shadow: 0 0 5px black;

 transition: 0.25s;
}
#login, #registration { top: 33px; font-size: 25px; display: none;}
#login { right: 225px; }

.logout_or_registration:hover {
 border: 1px solid rgba(254, 154, 46, 1);
 background-color: rgba(254, 154, 46, 0.85);
 color: white;
 cursor: pointer;
 text-shadow: 0 0 3px black;
 box-shadow: 0 0 15px #FE9A2E;
 transition: 0.2s;
}
.black_fon {
 display: none;
 position: absolute;
 background-color: rgba(0,0,0,0.8);
 width: 100%;
 height: 100%;
 z-index: 998;
}
.form {
 position: absolute;
 top: 50%;
 left: 50%;

 width: 350px;
 height: 130px;
 margin-left: -175px;
 margin-top: -300px;
 
 border: 1px solid rgba(46, 204, 250, 0.5);
 background-color: rgba(0,191,255, 0.5);
 box-shadow: 0 0 35px #2ECCFA;
 
 z-index: 999;
 transition: 0.5s;
}
.form p {
    color: white;
    font-size: 25px;
    left: 15px;
}
.form p, .form input { position: absolute; margin: 0px; }
.form p:nth-child(1) { top: 15px; }
#txt_login { left: 120px; top: 15px; }
.form p:nth-child(3) { left: 15px; top: 50px; }
#txt_pass { left: 120px; top: 50px; }
#form_login .btn_Close { top: 90px; right: 80px; }
#form_registration .btn_Close { top: 90px; right: 100px; }
#btn_Login, #btn_Registration {  top: 90px; right: 10px; }
input{
 color: white;
 font-size: 15px;
 padding: 3px;
 border: 1px solid rgba(46, 204, 250, 0.5);
 background-color: rgba(0,191,255,0.5);
}
input[type="text"]:focus, input[type="password"]:focus {
 border: 1px solid white;
 box-shadow: 0 0 10px white;
}
#registration_error {
 top: 93px;
 font-size: 18px;
 color: red;
 text-shadow: 0 0 5px red;
}

.top_message {
 opacity: 0;
 position: absolute;
 left: 50%;
 top: -150px;
 
 font-size: 0px;
 width: 100px;

 border: 1px solid rgba(46, 204, 250, 0.5);
 background-color: rgba(0,191,255, 0.5);
 box-shadow: 0 0 35px #2ECCFA;

 z-index: 999;
}
#text {
 text-align: center;
 margin: 10px 25px 10px 25px;
 font-family: Expand;
 text-shadow: 0 0 5px white;
 color: white;
}

#boxesLeft_hide, #boxesRight_hide, #boxesLeft_show, #boxesRight_show
{
    display: none;
    position: absolute;
    left: 0px;
    line-height: 165px;
}
#boxesLeft_hide img, #boxesRight_hide img, #boxesLeft_show img, #boxesRight_show img
{
    height: 100px;
    width: 17px;
    vertical-align: middle;
}
#left_boxes,#right_boxes 
{
 position: absolute;
 z-index: 1;
 margin: 10px;
 width: 230px;
 padding: 5px;
 background-color: rgba(0, 191, 255, 0.3);
 box-shadow: 0px 0px 5px rgba(129, 247, 243, 0.8);
}
#right_boxes {  top: 80px; }
#left_boxes:hover ,#right_boxes:hover { box-shadow: 0px 0px 20px #81F7F3; }
#left_boxes>a:link,#right_boxes>a:link
{
 font-size: 17px;
 padding: 7px;
 display: block;
 color: transparent;
 text-decoration: none;
 margin-top: 1px;
 margin-bottom: 1px;
 padding-left: 25px;
 border-radius: 5px;
 text-shadow: 0 0 0.1px black;
 border-top: 3px solid transparent;
 border-bottom: 3px solid transparent;
 transition: 0.75s;
}
#left_boxes>a:hover,#right_boxes>a:hover
{
 text-shadow: 0 0 15px white;
 transition: 0.15s;
}
#left_boxes>a:hover,#right_boxes>a:hover
{
 padding-left: 30px;
 border-top: 3px solid white;
 border-bottom: 3px solid white;
 color: white;
 transition: 0.25s;
}
#left_boxes>p,#right_boxes>p
{
 margin: 11px;
 margin-bottom: 0px;
 color: white;
 font-weight: bold;
}



#blocks
{
 position: absolute;
 margin: auto;
 float: none;
 	animation-timing-function: linear;
	transform: perspective(1000px) rotateY(180deg);
	opacity: 0;
	transition: 0.35s;
}
.block
{
 overflow: hidden;
 margin: auto;
 text-shadow: 0 0 1px #A9F5F2;
 margin-top: 10px;
 width: 95%;
 border: 1px solid rgba(46, 204, 250, 0.5);
 background-color: rgba(0,191,255,0.5);
 /*color: #1C1C1C;*/
 color: white;
 font-size: 18px;
 font-family: Arial;
 box-shadow: 0 0 35px #2ECCFA;
 transition: 0.75s;
}
.block:hover
{
 border: 1px solid rgba(254, 154, 46, 1);
 background-color: rgba(254, 154, 46, 0.85);
 color: white;
 width: 100%;
 /*border-color: #01A9DB;*/
 text-shadow: 0 0 3px black;
 box-shadow: 0 0 15px #FE9A2E;
 transition: 0.2s;
}
.name,
.rating
{
    position: relative;
    top: 10px;
}
.name
{
    left: 15px;
    float: left;
    font-weight: bold;
}
.rating
{
    float: right;
    right: 5px;
}
.number_of_people
{
 font-weight: bold;
 margin: -5px 15px 0px 0px;
 color: black;
}
.description
{
    float: left;
    margin: 20px;
}
.block:hover>.btn_join
{
	background-color: rgba(254, 154, 46, 1);
	box-shadow: 0 0 10px white;
	color: white;
	text-shadow: 0 0 3px black;
	transition: 0.25s;
}
.btn_join
{
 position: relative;
 right: 10px;
 bottom: 10px;
 width: 125px;
 height: 35px;
 float: right;
 margin: 5px;
 color: black;
 font-weight: bold;
 background-color: #2ECCFA;
 
 border: none;
 border-radius: 10px 0 10px 0;
 box-shadow: 0 0 10px white;
 
 outline: none;

 transition: 0.9s;
}
.block:hover>.btn_join:hover
{
 box-shadow: 0 0 15px white;
 background-color: white;
 color: rgba(254, 154, 46, 1);
 text-shadow: 0 0 0px black;
 transition: 0.1s;
}





@font-face {
 font-family: Expand;
 src: url("Fonts/Expand.ttf");
}
@font-face {
 font-family: Peer;
 src: url( "Fonts/Peer.ttf" );
}
@font-face {
 font-family: Pacifico;
 src: url( "Fonts/Pacifico.ttf" );
}
@font-face {
 font-family: Basic;
 src: url( "Fonts/Basic.ttf" );
}


::-webkit-scrollbar{
    width:7px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}
::-webkit-scrollbar-track:hover{
    background-color: #eee;
}