body
{
 min-width: 1030px;
 min-height: 600px;
 
 margin: 0px;
 padding: 0px;
 border: 0px;

 background: url( "http://wallpapercave.com/wp/GProxpt.jpg" ) 100% 100% no-repeat;
 background-position: center top;
 background-size: cover;
 background-attachment: fixed;
}

#header {
    width: 100%;
    height: 50px;

    margin: 0px;
    
    background-color: rgba(0,0,0,0.5);
}

#header #form_search {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    height: 40px;
    width: 500px;
    padding: 5px;
}
#header #form_search input[name="txt_search"] {
    width: 400px;
    height: 25px;
    margin: 5px;
}
#header #form_search input[type="submit"] {
    width: 65px;
    height: 30px;
    margin: 5px;
    
    color: white;

    border-color: transparent;
    background-color: rgba(0,0,0,0.5);

}

#header div{
    position: relative;
    
    font-family: Expand;
    color: white;

    transition: .2s;
}
#header div[name="JoinAndDo"] {
    width: 200px;
    font-size: 30px;
    padding: 8px 35px;
}

#header div[name="search"] {
    position: absolute;
    top: 0px;
    right: 100px;

    width: 140px;
    height: 40px;
    
    padding: 5px;

    z-index: 996;
    background-color: rgba(0,0,0,0.1);
    overflow: hidden;
}
#header div[name="search"]:hover {
    height: 131px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border-radius: 0 0 5px 5px;
}

#img_search {
    background: url( "images/search.png" ) 100% 100% no-repeat;
    width: 25px;
    height: 25px;
    padding: 5px 8px;
    margin: 5px;
}
#header div[name="search"] p {
    position: absolute;
    top: 2px;
    left: 45px;
    font-family: Caviar_Dreams_Bold;
    font-size: 20px;
    color: black;
    padding: 0px;
    margin: 10px;
}

#form_list_search {
    top: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#form_list_search div {
    cursor: pointer;
    text-align: center;
    position: absolute;
    font-family: Caviar_Dreams_Bold;
    padding-top: 10px;
    padding-bottom: 10px;
    
    width: 100%;
    height: 20px;

    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    transition: .2s;
}
#form_list_search div:hover { 
    color: black;
    background-color: white;
}
#form_list_search #user { top: 0px; }
#form_list_search #accession { top: 42px; }

#header div[name="exit"] {
    font-size: 20px;
    height: 22px;
    width: 40px;
    padding: 14px 15px;
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    right: 10px;
    cursor: pointer;
}
#header div[name="exit"]:hover{
    color: black;
    background-color: white;
}
#header div[name="JoinAndDo"]:hover{ text-shadow: 0 0 5px white; }

#array_sms {
    position: absolute;
    bottom: 10px;
}
.sms{
    position: relative;
    bottom: 5px;
    left: 5px;

    width: 300px;
    height: 120px;
    
    border-radius: 7px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 5px;

    z-index: 999;

    cursor: pointer;
}
.sms .name_sender{
    color: white;
    font-family: Caviar_Dreams_Bold;
    cursor: pointer;
    margin: 10px 10px 0px;
}
.sms .text{
    color: white;
    font-family: Expand;

    margin: 10px 15px;
}


.top_message {
 opacity: 0;
 position: absolute;
 left: 50%;
 top: -150px;
 
 font-size: 0px;
 width: 100px;

 border: 1px solid rgba(255, 128, 0, 0.5);
 background-color: rgba(255, 128, 0, 0.7);
 box-shadow: 0 0 35px #FF8000;

 z-index: 999;
}
#text {
 text-align: center;
 margin: 10px 25px 10px 25px;
 font-family: Expand;
 text-shadow: 0 0 5px white;
 color: white;
}


#boxesLeft_hide, #boxesRight_hide, #boxesLeft_show, #boxesRight_show
{
    display: none;
    position: absolute;
    left: 0px;
    line-height: 165px;
    
}
#boxesLeft_show, #boxesRight_show { z-index: 1; }
#boxesLeft_hide, #boxesRight_hide { z-index: 3; }
#boxesLeft_hide img, #boxesRight_hide img, #boxesLeft_show img, #boxesRight_show img
{
    height: 100px;
    width: 17px;
    vertical-align: middle;
}

#left_boxes,#right_boxes 
{
 position: absolute;
 z-index: 2;
 padding: 0px;
 width: 230px;
 padding: 5px;
 background-color: white;
 box-shadow: 0px 0px 10px rgba( 255, 255, 255, 0.9 );
}
#left_boxes { top: 60px; left: 20px; }
#right_boxes {  top: 329px; left: 20px; }

#left_boxes:hover ,#right_boxes:hover {  }
#left_boxes>a:link,#right_boxes>a:link
{
 font-size: 17px;
 padding: 7px;
 display: block;
 color: rgb( 150, 150, 150 );
 text-decoration: none;
 margin-top: 1px;
 margin-bottom: 1px;
 padding-left: 25px;
 border-radius: 5px;
 text-shadow: 0 0 0.1px black;
 border-top: 3px solid transparent;
 border-bottom: 3px solid transparent;
 transition: 0.15s;
}
#left_boxes>a:visited, #right_boxes>a:visited { color: rgb( 150, 150, 150 ); }
#left_boxes>a:hover,#right_boxes>a:hover
{
 text-shadow: 0 0 15px white;
 transition: 0.15s;
}
#left_boxes>a:hover,#right_boxes>a:hover
{
 padding-left: 30px;
 border-top: 3px solid black;
 border-bottom: 3px solid black;
 color: rgb( 50, 50, 50 );
 text-shadow: 0 0 1px black;
 transition: 0.25s;
}
#left_boxes>p,#right_boxes>p
{
 margin: 11px;
 margin-bottom: 0px;
 color: black;
 font-weight: bold;
}


#layout {
    
    min-width: 750px;
 background-color: transparent;
 position: absolute;
 top: 50px;
 left: 0px;
 width: 100%;
 height: calc( 100% - 50px);
 z-index: 0;

 margin: 0px;
 padding: 0px;
}

#blocks
{
     min-width: 750px;
    position: absolute;
    top: 10px;
    margin: auto;
    float: none;
    opacity: 1;
    padding-left: 10px;
    padding-right: 10px;
}
.block
{
 overflow: hidden;
 margin: auto;
 text-shadow: 0 0 1px #A9F5F2;
 margin-bottom: 10px;
 width: 95%;
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.4);
 /*color: #1C1C1C;*/
 color: white;
 font-size: 18px;
 font-family: Arial;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
 transition: 0.75s;
 cursor: pointer;
}
.block:hover
{
 background-color: rgba(0, 0, 0, 0.55);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
 width: 100%;
 transition: 0.2s;
}

.top {
    position: relative;
    top: 0px;
    width: 100%;
    float: left;
    font-weight: bold;
    padding: 7px;
    background-color: white;
    color: black;
    height: 14px;
    font-family: Basic;
}
.name {
    position: absolute;
}
.creator {
    position: absolute;
    left: 0px;
    top: 8px;
    width: 100%;
    text-align: center;
}
.creator strong {
    padding: 7px 7px 2px 7px;
    border: 1px solid black;
}
.creator strong:hover {
    background-color: black;
    color: white;
}
.rating {
    position: absolute;
    top: -10px;
    right: 25px;
}
.description
{
    float: left;
    width: calc( 100% - 40px );
    margin: 15px 20px 20px;
    font-family: CaviarDreams;
}

.btn_join
{
 position: relative;
 right: 10px;
 bottom: 10px;
 width: 125px;
 height: 35px;
 float: right;
 margin: 5px;
 color: white;
 font-weight: bold;
 background-color: rgba(0, 0, 0, 0.4);
 
 border: none;
 border-radius: 10px 0 10px 0;
 box-shadow: 0 0 10px white;
 
 outline: none;

 transition: 0.9s;
}
.block:hover>.btn_join:hover
{
 box-shadow: 0 0 15px white;
 background-color: white;
 color: black;
 text-shadow: 0 0 0px black;
 transition: 0.1s;
}



@font-face {
 font-family: Expand;
 src: url("Fonts/Expand.ttf");
}
@font-face {
 font-family: Peer;
 src: url( "Fonts/Peer.ttf" );
}
@font-face {
 font-family: Pacifico;
 src: url( "Fonts/Pacifico.ttf" );
}
@font-face {
 font-family: Basic;
 src: url( "Fonts/Basic.ttf" );
}
@font-face {
 font-family: Caviar_Dreams_Bold;
 src: url("Fonts/Caviar_Dreams_Bold.ttf");
}
@font-face {
 font-family: CaviarDreams;
 src: url("Fonts/CaviarDreams.ttf");
}

::-webkit-scrollbar{
    
}

button, input[type="submit"] {
    border: none;
    font-family: Basic;
    font-size: 17px;
    color: white;
    text-shadow: 0 0 3px black;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
	padding: 10px 10px 7px;

    transition: 0.2s;
}
button:hover, input[type="submit"]:hover {
    background-color: white;
    text-shadow: 0 0 0px white;
    color: black;
}

select {
    font-family: Caviar_Dreams_Bold;
    margin: 5px;
    
    border: none;
    padding: 5px;
    outline: none;
}

textarea:focus, input:focus{  outline: none; }
button:focus { outline: none; }