@{
    ViewBag.Title = "Join And Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using JoinAndDo.Entities
@{
    List<DealsAccession> listDealsAccession = ViewBag.listDealsAccession;
}
<script src="~/Scripts/jquery-1.6.4-vsdoc.js"></script>
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/js_sms.js"></script>
<link href="~/Styles/style_deals_accession.css" rel="stylesheet" />


<div id="blocks">
    @foreach ( var join in listDealsAccession )
    {
        <div class="block">
            <div class="name">@join.title</div>
            <div class="rating">
                <p class="number_of_people">@join.People/@join.AllPeople</p>
            </div>
            <div class="name_Invitor">@join.user</div>
            <div class="description">@join.text</div>
            <button class="btn_join">Reject</button>
            <button class="btn_join">Accept</button>
        </div>
    }
</div>