@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header {
    <div id="header">
        <a href="index" id="header_text">Join and Do</a>
        <input id="header_search_text" type="text">
    </div>
}

@section layout {
    <div class="layout">
    <div id="left_boxes">
        <a href="my_profile">My profile</a>
        <a href="my_message">My message</a>
        <a href="my_accession">My accession</a>
        <a href="deals_accession">Deals accession</a>
    </div>

    <div id="right_boxes">
        <p>Select Category</p>
        <a href="test">Category #1</a>
        <a href="test">Category #2</a>
        <a href="test">Category #3</a>
        <a href="test">Category #4</a>
        <a href="test">Category #5</a>
        <a href="test">Category #6</a>
        <a href="test">Category #7</a>
    </div>

    <div id="blocks">
        
    </div>
</div>
}


