@using JoinAndDo.Entities
@{
    List<MyAccession> listMyAccession = ViewBag.listMyAccession;
}

@{
    ViewBag.Title = "Join And Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js_sms.js"></script>
<link href="~/Styles/style_my_accession.css" rel="stylesheet" />

<div id="blocks">
    @foreach (var join in listMyAccession)
    {
        <div class="block">
            <div class="name">@join.title</div>
            <div class="rating">
                <p class="number_of_people">@join.People/@join.AllPeople</p>
            </div>
            <div class="description">@join.text</div>
            @if( @join.isComplete )
            {
                <div id="done"></div>
            }
            else
            {
                <div id="fail"></div>
            }
        </div>
    }
</div>