@using JoinAndDo.Entities
@{
    List<Accession> listAccession = ViewBag.listAccession;
}
@{
    ViewBag.Title = "MyInvitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.6.4-vsdoc.js"></script>
<script src="~/Scripts/jquery-1.6.4.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>

<script src="~/Scripts/js_sms.js"></script>

<div id="blocks">
    @foreach (Accession accession in listAccession)
    {
        <div class="block" onclick="OpenAccession(@accession.Id)">
            <div class="top">
                <strong class="name">@accession.Status</strong>
            </div>
            <div class="description">@accession.Text</div>
        </div>
    }
</div>

