@using JoinAndDo.Entities
@{
    List<Accession> listAccession = ViewBag.listAccession;
}
@{
    ViewBag.Title = "MyInvitation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="blocks">
    @foreach (Accession accession in listAccession)
    {
        <div class="block" onclick="OpenAccession(@accession.Id)">
            <div class="name">@accession.Status</div>
            <div class="description">@accession.Text</div>
        </div>
    }
</div>

