@{
    ViewBag.Title = "Join And Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js_new_join.js"></script>
<link href="~/Styles/style_new_join.css" rel="stylesheet" />

<div id="blocks">
    <div id="form_new_join">
        <p data-target="name">Name</p>
        <input type="text" id="name_join"/>
        <p data-target="text">Text</p>
        <textarea id="txt_join"></textarea>
        <p data-target="select">Select Category</p>
        <select id="category_select">
            <option>Development</option>
            <option>Work</option>
            <option>SEO</option>
            <option>Game</option>
        </select>
        <p>Need people</p>
        <div id="list_roles">
            <button id="add_role" onclick="AddNewRole()">Add new Role</button>
            <div class="role">
                <input type="text" class="name_role" />
                <div class="delete_role"></div>
            </div>
        </div>
        <button id="btn_new_join" onclick="NewJoin()">New Join</button>

    </div>
</div>