@{
    ViewBag.Title = "Join And Do";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/js_new_join.js"></script>
<link href="~/Styles/style_new_join.css" rel="stylesheet" />

<div id="blocks">
    <div id="form_new_join">
        <p data-target="name">Name</p>
        <input type="text" id="name_join"/>
        <p data-target="text">Text</p>
        <textarea id="txt_join">Looking started he up perhaps against. How remainder all additions get elsewhere resources. One missed shy wishes supply design answer formed. Prevent on present hastily passage an subject in be. Be happiness arranging so newspaper defective affection ye. Families blessing he in to no daughter.Families blessing he in to no daughter.Families blessing he in to no daughter.</textarea>
        <p data-target="select">Select Category</p>
        <select id="category_select">
            <option>Development</option>
            <option>Work</option>
            <option>SEO</option>
            <option>Game</option>
        </select>
        <p>Need people</p>
        <input type="number" id="needPeople"/>
        <button id="btn_new_join" onclick="NewJoin()">New Join</button>

    </div>
</div>