@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using JoinAndDo.Entities
@{
    User user = ViewBag.User;
}
<link href="~/Styles/style_my_profile.css" rel="stylesheet" />
<script src="~/Scripts/sc_my_profile.js"></script>

<div id="blocks">
    <div id="information">
        <img src="~/Styles/images/profile.png" id="img_profile" alt="test" />
        <p id="full_name">@user.lastName @user.firstName</p>

        <div id="Statistics">
            <div class="statictic">
                <p>Fulfillment accession</p>
                <div id="full_of_accession">
                    <div id="completed_percentage_of_accessions" />
                </div>
                <div class="like_or_dislike">
                    <button class="like" id="like_1" />
                    <button class="dislike" id="dislike_1" onclick="dislike(1)" />
                </div>
            </div>

            <div class="statictic">
                <p>Accepted connections</p>
                <div id="full_of_accession">
                    <div id="percentage_of_accepted_connections" />
                </div>
                <div class="like_or_dislike">
                    <button class="like" id="like_2" onclick="like(2)" />
                    <button class="dislike" id="dislike_2" onclick="dislike(2)" />
                </div>
            </div>


            <div class="statictic">
                <p>Middle time working for project</p>
                <div id="full_of_accession">
                    <div id="percentage_of_time_working" />
                </div>
                <div class="like_or_dislike">
                    <button class="like" id="like_3" onclick="like(3)" />
                    <button class="dislike" id="dislike_3" onclick="dislike(3)" />
                </div>

            </div>
        </div>
    </div>
</div>